@import "../../../styles/main.scss";

.header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__navigation {
    margin: 0;
    padding: 0 0 0 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;

    @include on-tablet {
      align-items: center;
      flex-direction: row;
    }

    @include on-desktop {
       gap: 16px;
    }
  }

  &__link {
    @include text-header-footer;

    cursor: pointer;
    margin: 0;
    color: var(--nav-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__lang {
    @include text-header-footer;

    cursor: pointer;
    margin: 0;
    color: var(--nav-accent-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__theme-switcher {
    --switcher-width: 50px;
    --switcher-height: 25px;
    box-sizing: border-box;
    height: var(--switcher-height);
    width: var(--switcher-width);
    border-radius: calc(var(--switcher-height) / 2);
    background-color: var(--text-color);
    padding: 3px;

    @include on-desktop {
      --switcher-width: 60px;
    --switcher-height: 30px;
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--background-color);

      transition: transform $animation-timing $animation-rule;
    }

    &--dark:after {
      transform: translateX(
        calc(var(--switcher-width) - var(--switcher-height))
      );
    }
  }
}
