@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 500;
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf');
}