@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 10;
  --column-gap: 32px;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--column-gap);

  @include on-desktop {
    --column-gap: 60px;
  }
}

@mixin container {
  --margin-container: 20px;

  margin: var(--margin-container);

  @include on-tablet {
    --margin-container: 60px;
  }

  @include on-desktop {
    --margin-container: 100px;
    margin-inline: auto;
  }
}

@mixin bottom-bar {
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: $color-bottom-bar;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    transition: width $animation-rule $animation-timing;
  }

  &:hover::before {
    width: 100%;
  }
}

@mixin title-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;

  color: var(--title-color);

  @include on-tablet {
    font-size: 40px;
    letter-spacing: 0.1rem;
  }

  @include on-desktop {
    font-size: 60px;
  }
}

@mixin title-2 {
  margin: 0 0 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;

  color: var(--title-color);

  @include on-tablet {
    margin: 0 0 36px;
    font-size: 40px;
  }

  @include on-desktop {
    margin: 0 0 48px;
    font-size: 44px;
  }
}

@mixin title-3 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;

  color: var(--title-color);

  @include on-tablet {
    font-size: 28px;
  }
}

@mixin text-normal {
  margin: 0;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;

  color: var(--text-color);

  @include on-tablet {
    font-size: 18px;
  }

  @include on-desktop {
    font-size: 20px;
  }
}

@mixin text-technology {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1.5px;

  color: var(--text-color);

  @include on-tablet {
    font-size: 18px;
  }
}

@mixin text-header-footer {
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;

  @include on-desktop{
    font-size: 20px;
  }
}

@mixin text-link {
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;

  @include on-desktop{
    font-size: 20px;
  }

  &:hover {
    text-decoration: underline;
  }
}

@mixin text-nav {
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

@mixin info-box {
  padding: 36px;
  backdrop-filter: blur(7px);
  border: 2px solid $color-border;
  border-radius: 20px;
  background-color: $color-background-accent;
}
