$tablet-min-width: 700px;
$desktop-min-width: 1200px;
$animation-timing: 0.2s;
$animation-rule: ease-in-out;
$cream: #f8f5ee;
$cream-dark: #f2e9db;
// $cream-dark: #ede9dc;
// $blue-light: #c1edfb;
 $blue-light: #a6d8e7;
$blue: #84b4cb;
$blue-dark: #273F4F;
$red-light: #fd9648;
$red: #D5451B;
$dark-grey: #2f2f2f;
$color-background: $cream-dark;
$color-background-accent: $cream;
$color-text: $dark-grey;
$color-link: $red;
$color-link-hover: $red;
$color-link-line: $cream;
$color-nav: $dark-grey;
$color-nav-hover: $cream;
$color-technology: $red-light;
$color-border: $dark-grey;
$color-bottom-bar: $dark-grey;
$min-height-header-footer: 75px;
